<% if flash[:notice] %>
  <div class="success-messages">
    <p><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="error-messages">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<% @user_buildings.each do |building| %>
  <%= render partial: "building", locals: { building: building } %>
<% end %>