<turbo-frame id="fleet_planet_<%= current_planet.id %>">
  <%= render partial: "ships", locals: {disabled: false, ships: @ships} %>

  <div class="content-item align-center">
    <h3>Fleet shipped successfully</h3>
  </div>

  <%= render "back_button" %>
</turbo-frame>
