<% if flash[:notice] %>
  <div class="success-messages">
    <p><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="error-messages">
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<% @planet_fleet.each do |element| %>
  <%= render partial: "shipyard/ship", locals: { element: element } %>
<% end %>