.galaxy-select-wrapper {
  background-color: rgba(21, 87, 36, 0.7);
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  h3 {
    margin-top: 0;
  }

  .galaxy-form-inputs {
    display: flex;
    justify-content: center;

    .galaxy-form-input {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      width: 80px;
    }

    .galaxy-form-legend {
      font-size: 10px;
    }
  }
}

.galaxy-planets {
  .galaxy-planet-wrapper {
    background-color: rgba(0,0,0,0.8);
    margin-top: 5px;
    padding: 3px;
    border-radius: 5px;
    color: white;

    turbo-frame {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fleet-send-success {
        margin: 0;
        color: #0076ff;
        width: 100%;
      }

      .empty-position {
        color: gray;
        font-size: 12px;
      }

      .galaxy-fleet-send-wrapper {
        width: -webkit-fill-available;

        form {
          display: flex;
          justify-content: space-between;

          button, select {
            height: fit-content;
          }

          button {
            margin: auto 0;
          }

          .values-wrapper {
            display: flex;
            flex-wrap: wrap;

            .fleet, .resource {
              flex-grow: 1;
              margin: 0 10px;

              .row {
                white-space: nowrap;
              }

              .legend {
                font-size: 12px;
                color: gray;
              }

              label {
                display: inline-block;
                width: 130px;
                text-align: right;
              }
            }

            .resource {
              label {
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
}