.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: white;
  color: black;
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-trigger {
  cursor: pointer;
}