<%= form_with url: galaxy_path, method: :get do %>
  <div class="content-item justify-evenly">
    <div>
      <label for="galaxy">Galaxy:</label>
      <input type="number" name="galaxy" id="galaxy" value="<%= @galaxy %>" min="1" max="9" required>
      <span class="legend">(1-9)</span>
    </div>
    <div>
      <label for="solar_system">System:</label>
      <input type="number" name="solar_system" id="solar_system" value="<%= @solar_system %>" min="1" max="255" required>
      <span class="legend">(1-255)</span>
    </div>
  </div>

  <div class="submit-button">
    <%= submit_tag 'Show Planets' %>
  </div>
<% end %>