<turbo-frame id="galaxy_planet_<%= @index %>" data-controller="fleet">
  <h3 class="fleet-send-success" data-action="click->fleet#resetSpecificPlanet" data-index="<%= @index %>">Fleet shipped successfully</h3>
</turbo-frame>