<turbo-frame id="galaxy_planet_<%= @index %>" data-controller="fleet">
  <div data-action="click->fleet#resetSpecificPlanet" data-index="<%= @index %>" class="content-item padding-8">
    <h3 class="text-center full-width">Fleet shipped successfully</h3>
  </div>
</turbo-frame>