<div class="navbar">
  <span>
    <span class="toggle-sidebar" onclick="toggleSidebar()"><span class="material-icons">menu</span></span>
  </span>

  <%= render "planets/planet", planet: current_planet %>

  <%= button_to logout_path, method: :delete, class: "logout-button" do %>
    <span class="material-icons">logout</span>
  <% end %>
</div>
